*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-size: 100%;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.padding{
    padding-left: 8rem;
    padding-right: 8rem;
}

/* .nav-container {
    display: flex;
    flex-direction: row;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease;
} */

.nav-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    /* max-width: 1200px; */
    padding: 1rem 1.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1), 0 2px 2px rgba(0, 0, 0, .06), 0 0 2px rgba(0, 0, 0, .07);
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.8rem;
    transition: all 0.3s ease-out;
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: #F4CE14;
}

.active-link {
    /* background-color: #495E57; */
    background-color:  #F4CE14;
    padding: 0.3rem;
    border-radius: 4px;
    color: white;
}

.logo-image {
    height: 40px;
}

.hamburger-icon {
    display: none;
    cursor: pointer;
}

.home-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
}

.active-link .home-icon {
    filter: brightness(0) invert(1);
}

nav ul li a:hover .home-icon {
    filter: brightness(0) invert(77%) sepia(65%) saturate(584%) hue-rotate(9deg) brightness(99%) contrast(91%);
}

@media screen and (max-width: 768px) {
    .nav-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .hamburger-icon {
        display: block;
        z-index: 2;
    }

    nav ul {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 70%;
        flex-direction: column;
        padding-top: 60px;
        transition: right 0.3s ease;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
        background-color: #ddd;
        z-index: 1;
    }

    nav ul.menu-open {
        right: 0;
    }

    nav ul li {
        margin: 1rem 0;
        padding: 0 2rem;
    }
}

/* HERO SECTION CSS */

.home-page {
    /* max-width: 75rem; */
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

@media (min-width: 768px) {
    .home-page {
        padding: 0 2rem;
    }
}

@media (min-width: 1200px) {
    .home-page {
        padding: 0;
    }
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
    background-color: #495E57;
    color: white;
    padding: 2rem 0;
    max-height: 450px;
    /* border-radius: 16px; */
}

.hero-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5rem;
    color: #f5f5f5;
}

.hero-title {
    font-size: 4rem;
    color: #F4CE14;
    margin-bottom: 0.5rem;
    line-height: 1.1;
    letter-spacing: 2px;
}

.hero-subtitle {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500px;
}

.hero-text {
    font-size: 1.125rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    max-width: 280px;
    padding: 1rem .5rem 1rem 0;
}


.hero-button {
    background-color: #F4CE14;
    color: #333;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;
    width: fit-content;
    transition: background-color 0.3s;
}

.hero-button a{
    text-decoration: none;
    color: #495E57;
}

.hero-button:hover {
    background-color: #e6c012;
}

.hero-button:focus {
    outline: 2px solid #333;
    outline-offset: 2px;
}

.hero-image img {
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}


.hero-image img:hover {
    transform: scale(1.02);
}

@media (max-width: 768px) {
    .hero-container {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 1.5rem 1rem;
        width: 100%;
    }

    .hero-image {
        margin: 0 auto;
    }

    .hero-image img {
        max-width: 300px;
        height: 400px;
    }

    .hero-title {
        font-size: 2.5rem;
    }

    .hero-subtitle {
        font-size: 1.5rem;
    }

    .hero-description {
        margin-left: 0rem;
    }
}


/* Highlights Section CSS */
.highlights-section {
    margin: 6rem auto;
    max-width: 1200px;
    padding: 0 1rem;
}

.highlights-container {
    margin: auto;
    max-width: 72rem;
}

.highlights-banner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    padding: 0 2rem;
}

.highlights-banner h3 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
}

.highlights-banner button {
    background-color: #f4ce14;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.highlights-banner button:hover {
    background-color: #e6c012;
}

.highlights-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    padding: 0 2rem;
}

/* .highlight-items {
    background-color: #edefee;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
} */
 .highlight-items {
    background-color: #edefee;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.highlight-items:hover {
    transform: translateY(-5px);
}

.highlight-items img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* .item-wrapper {
    padding: 1.5rem;
} */

.item-wrapper {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    padding-bottom: 4rem; /* Espace pour le bouton */
}

.title-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.item-title {
    font-size: 1.25rem;
    font-weight: 700;
    color: #333;
    margin: 0;
}

.item-price {
    font-size: 1.25rem;
    font-weight: 700;
    color: #495E57;
    margin: 0;
}

 .item-wrapper p {
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

/* .order-btn {
    margin-top: 1rem;
} */

.order-btn {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
}

.order-btn button {
    background-color: #495e57;
    color: #fff;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.order-btn button:hover {
    color: #f4ce14;
}

.order-btn a {
    text-decoration: none;
}

@media (max-width: 992px) {
    .highlights-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .highlights-banner {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .highlights-banner h3 {
        font-size: 2rem;
    }

    .highlights-cards {
        grid-template-columns: 1fr;
    }

    .highlights-container {
        margin-top: 16rem;

    }

}

/* Testimonial CSS */
.testimonials {
    margin-bottom: 2rem;
}

.testimonials-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 2rem;
}

.testimonials-headline {
    text-align: center;
}

.testimonials-headline h2 {
    color: #495e57;
    font-size: 40px;
    font-weight: 900;
}

.testimonials-headline h4 {
    /* color: #ee9972; */
    color: #f4ce14;
    font-size: 28px;
    margin: 1rem 0;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5rem 0;
}

.review {
    background-color: #495e57;
    border-radius: 10px;
    width: 350px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(to bottom right, #495e57, #2c3e50);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.review:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.review p::before,
.review p::after {
    content: '"';
    font-size: 1.2rem;
    font-weight: bold;
    color: #f4ce14;
}

.reviews-wrapper {
    color: #edefee;
    padding: 1rem;
}

.client {
    border-radius: 50%;
    display: block;
    height: 100px;
    margin: 0 auto;
    object-fit: cover;
    object-position: top;
    width: 6.25rem;
}

.stars {
    align-items: center;
    display: flex;
    font-size: 1.125rem;
    gap: 2px;
    justify-content: center;
}

.quote {
    font-size: 1.5rem;
    font-weight: 600;
}

.star {
    width: 15px;
}

.reviews-wrapper h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;
}

@media (max-width: 768px){
    .review{
        margin-bottom: 1rem;
    }

    .testimonials-container {
        padding: 0 1rem;
    }
}

/* FOOTER CSS */

footer{
    box-shadow: 0 -1px 3px rgba(0, 0, 0, .1), 0 -2px 2px rgba(0, 0, 0, .06), 0 0 2px rgba(0, 0, 0, .07);
}

.footer-container {
    background-color: #f4f4f4;
    padding:  2rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 9rem;
}

.footer-logo{
    margin-left: 3rem;
}

.footer-logo img {
    width: 100px;
    height: auto;
}

.footer-wrapper {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap; /* Permet de passer en colonne si petit écran */
}

.footer-wrapper > div {
    min-width: 160px;
    flex: 1;
}

.footer-wrapper h4 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #222;
}

.footer-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-wrapper li {
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
    color: #555;
}

.footer-wrapper a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.footer-wrapper a:hover {
    color: #007b5e;
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.875rem;
    color: #777;
    border-top: 1px solid #ccc;
    padding-top: 1rem;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-wrapper {
        flex-direction: column;
        gap: 2rem;
    }

    .footer-wrapper > div {
        min-width: auto;
    }

    .footer-logo{
        margin-left: 0;
    }
}

.wine{
    width: 24px;
    height: 24px;
}

.form-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
   transition: box-shadow 0.3s ease;
  /* background-color: #495e57; */
}

.form-columns:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.form-left,
.form-right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.booking-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

.booking-container .booking-header{
    color: #f4ce14;
    text-align: center;
    margin-bottom: 2rem;
    background-color: #495e57;
    width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  vertical-align: middle;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input,
select {
  padding: 0.75rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

input.valid,
select.valid {
  border-color: green;
}

input.invalid,
select.invalid {
  border-color: red;
}

.radio-group {
  display: flex;
  gap: 1rem;
}

.radio-option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.radio-option input[type='radio'] {
  transform: scale(1.2);
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.submit-btn {
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  background-color: #ccc;
  color: #fff;
  cursor: not-allowed;
  border-radius: 6px;
}

.submit-btn.active {
  background-color: #28a745;
  cursor: pointer;
}

.submit-btn.disabled {
  background-color: #ccc;
}

input.invalid,
select.invalid {
  border: 2px solid red;
}

input.valid,
select.valid {
  border: 2px solid green;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.25rem;
}

.submit-btn {
  padding: 1rem;
  margin-top: 2rem;
  cursor: pointer;
}

.submit-btn.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-btn.active {
    background-color: #f4ce14;
    color: white;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 2rem 0;
}

.image-grid img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px){
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .form-columns {
        display: grid;
        grid-template-columns: 1fr;
    }

}


.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 80%;
}

.popup-content h2 {
    margin-bottom: 1rem;
}

.popup-content button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    color: #f4ce14;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
